* {
  margin: 0;
  padding: 0;
}
header {
  position: relative;
  margin: 0 auto;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
}
.site-image-block {
  background: rgba(0, 0, 0, 0.45);
  width: 100%;
  height: 100%;
  position: absolute;
}
.main-image {
  width: 100%;
  display: flex;
}
.onImage-block {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
}
.navigation-block {
  margin-top: 40px;
  width: 100%;
  display: flex;
}
.navigation {
  margin: 0 auto;
  width: 75%;
  display: flex;
  justify-content: space-between;
}
.logo {
  cursor: pointer;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
}
.logo:hover {
  text-decoration: none;
}
.nav-links {
  margin-right: 10px;
  width: 545px;
  display: flex;
  justify-content: space-between;
}
.nav-link {
  color: #ffffff;
  font-family: "Montserrat";
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
a:hover {
  text-decoration: underline;
}
.main-title {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.header-block {
  width: 600px;
  display: flex;
  flex-direction: column;
}
.header-title {
  justify-content: center;
  width: 100%;
  display: flex;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 48px;
  color: #ffffff;
}
.header-subtitle {
  justify-content: center;
  width: 100%;
  margin-top: 30px;
  display: flex;
  font-family: "Roboto Slab";
  color: #ffffff;
  font-size: 20px;
}
.start-button {
  justify-content: center;
  width: 100%;
  margin-top: 50px;
  display: flex;
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 16px;
}
.button {
  background: transparent;
  width: 180px;
  height: 50px;
  border: 2px solid white;
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 16px;
  outline: none;
  cursor: pointer;
}
.button:hover {
  transition: 0.5s;
  background: #ffffff;
  color: rgb(190, 0, 0);
}
.button:active {
  background: #bdbdbd;
  transition: -0.5s;
  border: 2px solid #bdbdbd;
  border-radius: 10px;
}
.section {
  margin: 0 auto;
  max-width: 1920px;

  display: flex;
  flex-direction: column;

  justify-content: center;
}
#s1 {
  min-height: 578px;
  background: #fffcf4;
}
#s2 {
  min-height: 852px;
  background: #f8f8f8;
}
.section-block {
  width: 75%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.section-title {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 20px;
  color: #555555;
}
.section-title:after {
  display: block;
  content: "";
  width: 50px;
  border-bottom: 2px solid #555555;
  position: absolute;
  margin-top: 50px;
}
.section-subtitle {
  margin-top: 60px;
  text-align: center;
  font-family: "Roboto Slab";
  color: #555555;
  font-size: 16px;
}
.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.service {
  display: flex;
  width: 350px;
  flex-direction: column;
  margin: 60px auto;
}
.ico-service-block {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  background: #ffffff;
  border-radius: 45px;
  border: 1px solid #dddddd;
}
#ico1 {
  background: #c0301c;
}
.service-title {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: bold;
  color: #555555;
}
.main-site-text {
  font-family: "Roboto Slab";
  font-size: 14px;
  color: #555555;
  text-align: center;
  line-height: 26px;
}
.info-blocks {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#description-block {
  margin: 0 auto;
  margin-top: 75px;
  width: 555px;
  text-align: start;
}
.avatars-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.avatar {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 0 auto;
  margin-top: 75px;
}
.name {
  margin-top: 20px;
  text-align: center;
  font-family: "Montserrat";
  font-weight: bold;
  color: #555555;
  font-size: 14px;
}
.status {
  margin-top: 20px;
  text-align: center;
  color: #555555;
  font-size: 13px;
  font-family: "Roboto Slab";
}
#title {
  margin-top: 50px;
}
#s3 {
  min-height: 1380px;
  background: #fffcf4;
}
.categories {
  width: 30%;
  min-width: 340px;
  display: flex;
  justify-content: space-between;
  margin: 60px auto;
}
.category {
  font-family: "Roboto Slab";
  font-size: 16px;
  color: #555555;
  text-decoration: none;
}
#active {
  color: #c0301c;
}
.works {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.work {
  margin: 0 auto;
  display: flex;
  margin-top: 2vh;
}
.shadow-for-picture {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #c02f1c88;
}
#s4 {
  position: relative;
}
.add-block {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.add-title {
  color: #ffffff;
  font-family: "Roboto Slab";
  font-size: 30px;
  list-style-type: none;
  text-align: center;
  margin-bottom: 50px;
}
.add-image {
  max-width: 100%;
}
#s5 {
  min-height: 1078px;
  background: #ffffff;
}
.posts {
  width: 100%;

  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 35px;
}
.post {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}
.blog-image {
  max-width: 100%;
  margin-right: 40px;
}
.blog-info {
  display: flex;
  flex-direction: column;
  width: 640px;
}
.date {
  width: 76px;
  height: 76px;
  margin-bottom: 30px;
  margin-right: 30px;
  display: flex;
  align-items: center;
  border: 2px solid #555555;
  font-size: 23px;
  font-family: "Montserrat";
  font-weight: bold;
  color: #777777;
  text-align: center;
}
.blog-title {
  margin-top: 10px;
  font-size: 16px;
  font-family: "Montserrat";
  font-weight: bold;
  color: #c0301c;
}
.blog-author {
  font-size: 13px;
  font-family: "Roboto Slab";
  font-style: italic;
  color: #999999;
  margin-top: 20px;
}
.blog-text {
  font-family: "Roboto Slab";
  font-size: 14px;
  color: #555555;
}
hr {
  width: 100%;
}
.readmore-button {
  cursor: pointer;
  font-family: "Roboto Slab";
  font-size: 13px;
  font-weight: bold;
  color: #777777;
  margin-top: 40px;
}
.main-blog-info {
  display: flex;
}
#s6 {
  min-height: 477px;
  background: #f8f8f8;
}
.sponsors {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sponsors-info {
  margin: 0 auto;
  margin-top: 75px;
  max-width: 770px;
  font-size: 18px;
  font-family: "Roboto Slab";
  font-style: italic;
  color: #555555;
  text-align: center;
  line-height: 30px;
}
.main-sponsor {
  margin-top: 45px;
  font-size: 20px;
  color: #555555;
  font-family: "Roboto Slab";
  text-align: center;
}
.dots {
  width: 60px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 45px;
}
.dot {
  width: 13px;
  height: 13px;
  border-radius: 50px;
  background: #dddddd;
}
#active-dot {
  background: #c0301c;
}
#s7 {
  min-height: 661px;
  background: #ffffff;
}
.data-name {
  display: flex;
  align-items: center;
}
.data-name-image {
  margin-right: 20px;
}
.date-name-title {
  font-size: 14px;
  color: #555555;
  font-family: "Montserrat";
  font-weight: bold;
}
.div {
  display: flex;
  align-items: center;
}
@media (max-width: 900px) {
  .navigation {
    flex-wrap: wrap;
  }
  .header-title {
    font-size: 5vw;
  }
  .logo {
    font-size: 2.5vw;
  }
  .header-subtitle {
    font-size: 2.08vw;
    margin-top: 3.125vw;
  }
  .button {
    font-size: 1.6vw;
    width: 18.75vw;
    height: 5.2vw;
  }
  .nav-link {
    font-size: 1.25vw;
  }
  .navigation-block {
    margin-top: 3vw;
  }
  .start-button {
    margin-top: 4vw;
  }
}
